<sl-search-bar viewTransition></sl-search-bar>
<div viewTransition class="conferences-container">
  <sl-card
    *ngFor="let conference of conferences$ | async"
    viewTransition="card"
    [route]="['conferences', conference.id]"
    [triggerId]="conference.id"
    [class.active]="(recentOpenedDetails$ | async) === conference.id"
    [model]="conference"
  ></sl-card>
</div>
<div viewTransition class="messages-container">
  <h2>Messagees from ...</h2>
  <sl-list-item
    viewTransition="list"
    *ngFor="let message of messages$ | async; trackBy: trackMessageById"
    [route]="['messages', message.id]"
    [triggerId]="message.id"
    [class.active]="(recentOpenedDetails$ | async) === message.id"
    [model]="message"
    (close)="deleteMessage($event)"
  ></sl-list-item>
</div>
